/* style.css */

body {
    background-color: #0000FF;
    color: white;
}

.title {
    color: #32CD32;
    text-align: center;
    font-size: 40px;
}

label {
    color: red !important;
    font-weight: bold;
}

.stSelectbox {
    color: #00008B;
    background-color: #ADD8E6;
    border-radius: 10px;
    border: 2px solid #32CD32;
}

.stButton button {
    background-color: #FFD700;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 20px;
}

.prediction-result {
    color: #FF4500;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
